__pycache__/
*.pyc
bookoff_ids.json
bookoff_mail_config.json

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.iml
.idea/
sumo-league/.gradle/
sumo-league/build/
sumo-league/app/build/
sumo-league/local.properties
